@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import url("https://fonts.cdnfonts.com/css/cursed-timer-ulil");

:root {
  --main-color: #0c4a6e;
  --black: #080001;
  --pink: #f94f6d;
  --light-blue: #9aabd8;
  --font-grey-color: #4b5563;
  --teal-color: #427d9d;
}

* {
  overflow-x: hidden;
}

body {
  font-family: "Inter", sans-serif;
  margin: 0;
  color: #fff;
}

h3,
p {
  margin: 0;
}

.board {
  font-size: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  align-items: center;
  background: #e1b563;
}

.board .container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 575px;
  height: 385px;
  background: var(--main-color);
  gap: 30px;
  border-radius: 10px;
}

.home-side,
.guest-side {
  display: flex;
  flex-direction: column;
}

.home-side h3,
.guest-side h3 {
  display: flex;
  justify-content: center;
}

.score-count {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--black);
  width: 155px;
  height: 120px;
  border-radius: 10px;
  margin: 20px 0px;
}

.score-count p {
  font-family: "Cursed Timer ULiL", sans-serif;
  font-size: 90px;
  color: var(--pink);
}

.increment-btns button {
  font-family: "Cursed Timer ULiL", sans-serif;
  font-size: 18px;
  color: var(--light-blue);
  width: 45px;
  height: 45px;
  border: 2px var(--light-blue) solid;
  border-radius: 5px;
  background: none;
  cursor: pointer;
  transition: 0.2s ease;
}

.increment-btns button:hover {
  font-size: 19px;
  background-color: rgba(0, 0, 0, 0.2);
}

.game-btns button {
  font-family: "Cursed Timer ULiL", sans-serif;
  font-size: 18px;
  color: var(--light-blue);
  height: 45px;
  width: 150px;
  border: none;
  border-radius: 5px;
  background: var(--main-color);
  cursor: pointer;
  transition: 0.2s ease;
}

.game-btns button:hover {
  font-size: 18.5px;
}

/* footer */

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
}
footer .handles {
  margin: 30px 0px;
}

footer .handles i {
  color: var(--font-grey-color);
  font-size: 32px;
  padding: 0 15px 0 0;
  transition: 0.3s ease;
}

footer .handles a {
  text-decoration: none;
}

footer .handles i:hover {
  color: var(--teal-color);
}
